<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBor7747ZSKSdm8shruJf63m1FtFtvbomQ</string>
	<key>GCM_SENDER_ID</key>
	<string>71670415294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eraasoft.dentalClinicApp</string>
	<key>PROJECT_ID</key>
	<string>dental-clinic-app-1032a</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-clinic-app-1032a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71670415294:ios:97a711678d34f2358583ef</string>
</dict>
</plist>